<ion-header>
  <ion-toolbar>
    <ion-title>Editar Usuário</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="userForm">
    <ion-item>
      <ion-label position="floating">Nome</ion-label>
      <ion-input formControlName="first_name"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Sobrenome</ion-label>
      <ion-input formControlName="last_name"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Username</ion-label>
      <ion-input formControlName="username"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input type="email" formControlName="email"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Senha</ion-label>
      <ion-input type="password" formControlName="password"></ion-input>
    </ion-item>


    <ion-button expand="full" type="submit" [disabled]="userForm.invalid">
      Salvar
    </ion-button>
  </form>
</ion-content>
