<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-title>Nova Transação</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <form [formGroup]="transactionForm" (ngSubmit)="createTransaction()">

    <ion-item>
      <ion-label position="floating">Título</ion-label>
      <ion-input formControlName="title"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Descrição</ion-label>
      <ion-textarea formControlName="description"></ion-textarea>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Valor</ion-label>
      <ion-input type="number" formControlName="amount"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Categoria</ion-label>
      <ion-select formControlName="category_id" placeholder="Selecione a categoria">
        <ion-select-option *ngFor="let cat of categories" [value]="cat.id">
          {{ cat.name }} ({{ cat.type }})
        </ion-select-option>
      </ion-select>
    </ion-item>

    <ion-button expand="block" type="submit" color="tertiary" class="ion-margin-top">
      Criar Transação
    </ion-button>

  </form>
</ion-content>
