<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-content>
        <div class="menu-header">
          <div class="menu-profile" [routerLink]="'/user'">
            <div class="profile-avatar">
              <ion-icon name="person"></ion-icon>
            </div>
            <div class="profile-info">
              <h3 *ngIf="username && user?.first_name">{{ user.first_name }} {{ user.last_name }}</h3>
              <h3 *ngIf="username && !user?.first_name">{{ username }}</h3>
              <p>View Profile</p>
            </div>
          </div>
        </div>

        <ion-list id="main-list">
          <ion-menu-toggle auto-hide="false" *ngIf="!token">
            <ion-item
              routerDirection="root"
              [routerLink]="'/login'"
              lines="none"
              detail="false"
              routerLinkActive="selected"
            >
              <ion-icon aria-hidden="true" slot="start" name="log-in-outline"></ion-icon>
              <ion-label>Login</ion-label>
            </ion-item>
          </ion-menu-toggle>
          <ng-container *ngFor="let p of (appPages || []); trackBy: trackPage">
            <ion-menu-toggle auto-hide="false">
              <ion-item
                routerDirection="root"
                [routerLink]="p.url"
                lines="none"
                detail="false"
                routerLinkActive="selected"
              >
                <ion-icon
                  aria-hidden="true"
                  slot="start"
                  [name]="p.icon + '-outline'"
                ></ion-icon>
                <ion-label>{{ p.title }}</ion-label>
              </ion-item>
            </ion-menu-toggle>
          </ng-container>
        </ion-list>

        <ion-list id="categories-list">
          <ion-list-header>Categories</ion-list-header>

          <ng-container *ngFor="let cat of (categories || [])">
            <ion-item [routerLink]="'/categories'" [queryParams]="{id: cat.id}" lines="none">
              <div slot="start" class="category-indicator" [style.background-color]="cat.color"></div>
              <ion-label>{{ cat?.name }}</ion-label>
            </ion-item>
          </ng-container>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
