<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-title>Editar Categoria</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="categoryForm" (ngSubmit)="updateCategory()">
    <ion-item>
      <ion-label position="floating">Nome da Categoria</ion-label>
      <ion-input formControlName="name"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Cor</ion-label>
      <ion-input type="color" formControlName="color"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Tipo</ion-label>
      <ion-select formControlName="type">
        <ion-select-option
          *ngFor="let type of type_choices"
          [value]="type.value"
        >
          {{ type.label }}
        </ion-select-option>
      </ion-select>
    </ion-item>

    <ion-button
      expand="block"
      type="submit"
      color="tertiary"
      class="ion-margin-top"
    >
      Atualizar Categoria
    </ion-button>
  </form>
</ion-content>
