<ion-header [translucent]="true">
  <ion-toolbar color="primary" class="ion-no-border">

    <ion-buttons slot="start">
      <ion-back-button defaultHref="/user"></ion-back-button>
    </ion-buttons>
    <ion-title>Edit Profile</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="dark-content">
  <div class="ion-padding">
    <ion-card class="form-container">
      <ion-card-content>
        <form [formGroup]="userForm" (ngSubmit)="updateUser()">
          <ion-item lines="none" class="input-item">
            <ion-label position="floating">First Name</ion-label>
            <ion-input formControlName="first_name"></ion-input>
          </ion-item>

          <ion-item lines="none" class="input-item">
            <ion-label position="floating">Last Name</ion-label>
            <ion-input formControlName="last_name"></ion-input>
          </ion-item>

          <ion-item lines="none" class="input-item">
            <ion-label position="floating">Username</ion-label>
            <ion-input formControlName="username"></ion-input>
          </ion-item>

          <ion-item lines="none" class="input-item">
            <ion-label position="floating">Email</ion-label>
            <ion-input type="email" formControlName="email"></ion-input>
          </ion-item>

          <ion-item lines="none" class="input-item">
            <ion-label position="floating">Password</ion-label>
            <ion-input type="password" formControlName="password"></ion-input>
          </ion-item>

          <ion-button expand="block" type="submit" color="primary" class="ion-margin-top" [disabled]="userForm.invalid">
            Save Changes
          </ion-button>
          
          <ion-button expand="block" color="primary" class="ion-margin-top" (click)="confirmDelete()">
            Delete account
          </ion-button>
        </form>

      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
