<ion-header [translucent]="true">
  <ion-toolbar color="primary" class="ion-no-border">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/goals"></ion-back-button>
    </ion-buttons>
    <ion-title>New Goal</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="dark-content">
  <div class="ion-padding">
    <ion-card class="form-container">
      <ion-card-content>
        <form [formGroup]="goalForm" (ngSubmit)="createGoal()">
          <ion-item lines="none" class="input-item">
            <ion-label position="floating">Title</ion-label>
            <ion-input formControlName="title"></ion-input>
          </ion-item>

          <ion-item lines="none" class="input-item">
            <ion-label position="floating">Description</ion-label>
            <ion-textarea formControlName="description"></ion-textarea>
          </ion-item>

          <ion-item lines="none" class="input-item">
            <ion-label position="floating">Amount (R$)</ion-label>
            <ion-input 
              type="text" 
              inputmode="decimal"
              formControlName="amount"
              placeholder="0,00"></ion-input>
          </ion-item>

          <ion-item lines="none" class="input-item">
            <ion-label position="floating">Date</ion-label>
            <ion-datetime
              formControlName="date"
              display-format="DD/MM/YYYY"
            ></ion-datetime>
          </ion-item>

          <ion-button
            expand="block"
            type="submit"
            class="ion-margin-top"
            color="primary"
          >
            Create Goal
          </ion-button>
        </form>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
