<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-title>Editar Transação</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="transactionForm" (ngSubmit)="updateTransaction()">

    <ion-item>
      <ion-label position="floating">Descrição</ion-label>
      <ion-input formControlName="description"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Valor</ion-label>
      <ion-input type="number" formControlName="amount"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Data</ion-label>
      <ion-datetime displayFormat="DD/MM/YYYY" formControlName="date"></ion-datetime>
    </ion-item>

    <ion-item>
      <ion-label>Categoria</ion-label>
      <ion-select formControlName="category_id">
        <ion-select-option *ngFor="let cat of categories" [value]="cat.id">
          {{ cat.name }}
        </ion-select-option>
      </ion-select>
    </ion-item>

    <ion-button expand="block" type="submit" color="tertiary" class="ion-margin-top">
      Atualizar Transação
    </ion-button>

  </form>
</ion-content>
